
*.class

*.jar

*.html

*.xml

out/production/SpiderOfferShow/log4j.properties

out/artifacts/spider/WEB-INF/jsp/jquery.js

out/artifacts/spider/WEB-INF/classes/log4j.properties

out/artifacts/spider/WEB-INF/jsp/index.jsp

out/artifacts/spider/local.jsp
