<component name="libraryTable">
  <library name="Spring-4.3.4.RELEASE" type="spring">
    <properties version="4.3.4.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-aspects-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-context-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-beans-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-aop-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-context-support-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-expression-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-core-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-instrument-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-instrument-tomcat-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-jms-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-messaging-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-jdbc-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-orm-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-test-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-oxm-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/spring-tx-4.3.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-4.3.4/commons-logging-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>